@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: green;
}

.hide {
  display: none;
}

.right-side {
  height: 100%;
  background-color: darken($color: brown, $amount: 11);
}
